/Mvcmovie
/MyTestWebsite
/ProductsApp
/README.md
/BookService
/README
/BookService/.vs/BookService/v14
/ProductsApp/.vs/ProductsApp/v14/.suo
/ProductsApp/ProductsApp/App_Start/WebApiConfig.cs
/ProductsApp/ProductsApp/Controllers/ProductsController.cs
/ProductsApp/ProductsApp/Global.asax
/ProductsApp/ProductsApp/Global.asax.cs
/ProductsApp/ProductsApp/Index.html
/ProductsApp/ProductsApp/Models/Product.cs
/ProductsApp/ProductsApp/ProductsApp.csproj
/ProductsApp/ProductsApp/Web.Debug.config
/ProductsApp/ProductsApp/Web.Release.config
/ProductsApp/ProductsApp/Web.config
/ProductsApp/ProductsApp/bin/ProductsApp.dll
/ProductsApp/ProductsApp/bin/ProductsApp.dll.config
/ProductsApp/ProductsApp/bin/ProductsApp.pdb
/ProductsApp/ProductsApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ProductsApp/ProductsApp/obj/Debug/ProductsApp.csproj.FileListAbsolute.txt
/ProductsApp/ProductsApp/obj/Debug/ProductsApp.csprojResolveAssemblyReference.cache
/ProductsApp/ProductsApp/obj/Debug/ProductsApp.dll
/ProductsApp/ProductsApp/obj/Debug/ProductsApp.pdb
/ProductsApp/ProductsApp/packages.config
