
@{
    ViewBag.Title = "Index";
}
<script>
function startTime() {
    var today = new Date();
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    document.getElementById('clock').innerHTML =
    today + " "+ h + ":" + m + ":" + s;
    var t = setTimeout(startTime, 500);
}
</script>
<h2>@ViewBag.Title</h2>

<div id="clock" align='center'></div>

<legend>
    新增一個待辦事項項目!
</legend>
<label>
    項目 : <br />
    <input type="text"/>
</label>
<br />
<label>
    完成時間 : <br />
    <input type="date"/>
</label>
<br />
<label>
    備註 : <br />
    <textarea name='texttxt' placeholder="輸入事項備註....." id='text'></textarea>
</label>
<br />
<input type="submit" value="確認送出">
